@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0px !important;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-width: 320px;
  overflow-x: hidden;
  background: #090917;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

img,
svg,
canvas {
  max-width: 100%;
}

a,
button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

.vertical-timeline {
  width: 100% !important;
  max-width: 1100px !important;
}

.vertical-timeline::before {
  left: 50% !important;
}

@media only screen and (max-width: 1169px) {
  .vertical-timeline::before {
    left: 18px !important;
  }

  .vertical-timeline-element-content {
    margin-left: 52px !important;
  }

  .vertical-timeline-element-icon {
    width: 36px !important;
    height: 36px !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 600px) {
  .vertical-timeline-element-content {
    padding: 14px !important;
    margin-left: 46px !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}
